[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pl = pull
	ps = push
	plrb = pull --rebase
[push]
	default = simple
[user]
	email = zhaobing@kuaishou.com
	name = zhaobing
[color]
	ui = auto
